:root {
  --dodger-blue: #2175F5;
  --sunset-orange: #F84848;
  --jungle-green: #29B864;
  --orange: #FF5521;
  --tundora: #444444;
  --gallery: #EFEFEF;
  --white: #FFFFFF;
  --emperor: #555555;
  --mine-shaft: #3A3A3A;
  --alto: #DADADA;
  --black: #000000;
}